@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  height: 100vh;
  overflow: auto;
}

body {
  background: url('/assets/bg.jpg') no-repeat top center;
  background-size: cover;
}

app-root {
  display: flex;
  flex: 1;
  min-height: 100%;
  > div {
    min-height: 100%;
    background: white;
  }
}

ul.pagination {
  float: left;
}

button {
  cursor: pointer;
}

form {
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  }
}
